.flightPanel{
    background-color: white;
    border-radius: 10px;
    width: 75%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
}
.flightRows{
    display: flex;
}
.flightPanel h1{
    font-size: 48px;
    margin-top:2%;
}
.par{
    color: #7E7E7E;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    height: 2%;
}

.flightColumn{
    align-items: center;
    width: 33%;
    margin-left: 5%;
    
}
.flightAway{
    margin-top: 1%;
    
    color: #7E7E7E;
    font-size: 14px;
}
.lineVert{
    background-color: #f3f1ed;
    width: 5px;
    height: inherit;
}
.flightColumnForBuy{

    margin-left: 2%;
    margin-right: auto;
}
.flightColumnForBuy h1{
    margin-left: 5%;
}
.choicePlace{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 30px;
    width: 95%;
    background-color: #5f308c;
    color:white;
    font-size: 12px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}